* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    background-image: url(imgs/bg-pattern-top.svg), url(imgs/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 40vh, left 49vw top 52vh;
}

.container {
    text-align: center;
    background-image: url(imgs/bg-pattern-card.svg);
    background-size: 100%;
    background-repeat: repeat-x;
    border-radius: 15px;
    background-color: white;
    width: 460px;
    height: 480px;
}

/* PROFILE MAIN STYLE  */

.profile-main img {
    border: 5px solid white;
    border-radius: 50%;
    width: 130px;
    margin-top: 118px;
}


.profile-main h1 {
    font-size: 21px;
    margin-top: 20px;
}

.profile-main h1 span {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: normal;
    margin-left: 5px;
}

.profile-main p {
    margin-top: 15px;
    color: hsl(0, 0%, 59%);
    font-weight: normal;
}

.profile-info {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsla(0, 0%, 59%, 0.578);
    margin-top: 35px;
    padding-top: 35px;
}

.profile-info h2 {
    font-size: 20px;
}

.profile-info p {
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 13px;
}

@media (max-width: 375px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: -780px -600px, 200px 200px;
    }

    .container {
        width: 400px;
        height: 420px;
        margin: 0 20px;
    }

    .profile-main img{
        margin-top: 80px;
        width: 110px;
    }

    .profile-info h2 {
        font-size: 23px;
    }

    .profile-info p {
        font-size: 12px;
    }

}